# comments are cool, as is whitespace
# currently clogin supports a number of add directives:
#	password
#	user
#	userpassword
#	enauser
#	autoenable
#	cyphertype
#
# Details on each of these follows.
#
# add password <router name regexp> <vty passwd> <enable passwd>
#
# add user <router name regexp> <username>
#	The default user is $USER (i.e.: the user running clogin).
#
# add userpassword <router name regexp> <user password>
#	The password for user if different than the password set
#	using 'add password'.
#
# add enauser <router name regexp> <username>
#	This is only needed if enable asks for a username and this
#	username is different from what user is set to.
#
# add autoenable <router name regexp> <1/0>
#	This is used if you are automatically enabled by the login process.
#
# add cyphertype <router name regexp> <ssh encryption type>
#	Default is 3des.
#

#add password sl-bb*-dc	cow24
#add password sl-gw*-dc	geeks
#add password sl*	hank	dog
#add password at*	pete	cow
#add password sdn*	mujahid	horse
#add password icm*	peter
#add password *		anything
#
#add user sl-gw*-dc	twit
#add user sdn* 		sdn_auto
#add user sdn-bb*	ops_eng
#add user *		$env(USER)

# customer x
# these routers ask for a username and password.  we automatically get
# enable access after successful authentication.
add user *.custx.net		roger
add password *.custx.net	{doger}
add autoenable *.custx.net	1

# customer y
# this is the normal cisco login.  a password followed by and enable password.
add password *.custy.net	{vector}	{victor}

# customer z
add user *.custz.net		shirley
add password *.custz.net	{jive}		{surely}

# all our routers, ie: everything else
add password *			{clearance}	{clarence}

# set ssh encryption type, dflt: 3des
add cyphertype *		{3des}
