Source: rancid-git
Section: net
Priority: optional
Maintainer: Roland Rosenfeld <roland@debian.org>
Build-Depends: debhelper (>= 9), expect, perl, automake, autoconf
Standards-Version: 3.9.4
Homepage: http://www.shrubbery.net/rancid/

Package: rancid-git
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, expect, perl,
 cvs | subversion | git, passwd, openssh-client | ssh, inetutils-ping | ping,
 debconf (>= 0.2.26) | debconf-2.0, adduser, exim4 | mail-transport-agent,
 libperl4-corelibs-perl | perl (<< 5.12.3-7)
Suggests: diffstat
Provides: rancid-core, rancid-util, rancid
Replaces: rancid-core (<< 2.3.5), rancid-util (<< 2.3.5)
Breaks: rancid-core (<< 2.3.5), rancid-util (<< 2.3.5)
Conflicts: rancid, par
Description: Really Awesome New Cisco confIg Differ
 This is a popular ISP toolkit, based on expect and shell scripts,
 for managing router configurations.
 .
 Rancid monitors a router's (or device's) configuration, including
 software and hardware (cards, serial numbers, etc), using CVS,
 Subversion or Git.

Package: rancid-cgi
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, rancid-git, liblockfile-simple-perl
Suggests: apache2 | httpd-cgi
Description: looking glass CGI for rancid
 This is a popular ISP toolkit, based on expect and shell scripts,
 for managing router configurations.
 Rancid monitors a router's (or device's) configuration, including
 software and hardware (cards, serial numbers, etc), using CVS.
 Rancid currently supports Cisco routers, Juniper routers, Catalyst
 switches, Foundry switches, Redback NASs, and ADC EZT3 muxes.
 This is the cgi package, a modified version of lg (Looking Glass)
 provided from rancid team to check rancid through web interface too.
