#!/bin/sh -e
. /usr/share/debconf/confmodule
db_version 2.0


db_input "critical" "rancid/warning" || true
db_go
db_input "critical" "rancid/damn_upgrade" || true
db_go
db_input   "critical" "rancid/go_on" || true
db_go
db_get   "critical" "rancid/go_on" || true
[ "$RET" = "false" ] && exit 1

db_stop
exit 0
