#!/usr/bin/make -f
#
# (c) 2007  Roland Rosenfeld <roland@debian.org>, based on
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess. 

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# Include dpatch stuff.
include /usr/share/dpatch/dpatch.make

OPTIMIZE=
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        OPTIMIZE=-O0
else
        OPTIMIZE=-O2
endif


build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	autoreconf -if

	env CFLAGS="$(OPTIMIZE) -g" \
	   ./configure \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/ \
		--mandir=\$${prefix}usr/share/man \
		--infodir=\$${prefix}usr/share/info \
		--datadir=\$${prefix}var/lib \
		--sysconfdir=\$${prefix}etc/rancid \
		--exec-prefix=\$${prefix}usr/lib/rancid \
		--localstatedir=\$${prefix}var/lib/rancid

	$(MAKE)
	#$(MAKE) -C util

	touch build-stamp

clean: clean1 unpatch
clean1:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	rm -f config.log
	[ ! -f Makefile ] || $(MAKE) distclean

	dh_clean


install: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install prefix=$(CURDIR)/debian/rancid-git/ \
		pkgdata_DATA='' dist_pkgdata_DATA=''

#	some scripts to bin directory
	mv debian/rancid-git/var/lib/rancid/downreport \
	   debian/rancid-git/usr/lib/rancid/bin/
	mv debian/rancid-git/var/lib/rancid/getipacctg \
	   debian/rancid-git/usr/lib/rancid/bin/
	mv debian/rancid-git/var/lib/rancid/rtrfilter \
	   debian/rancid-git/usr/lib/rancid/bin/	

#	rancid-cgi:
	mv debian/rancid-git/usr/lib/rancid/bin/lg.cgi \
	   debian/rancid-cgi/usr/lib/cgi-bin/lg/
	mv debian/rancid-git/usr/lib/rancid/bin/lgform.cgi \
	   debian/rancid-cgi/usr/lib/cgi-bin/lg/
	mv debian/rancid-git/etc/rancid/lg.conf \
	   debian/rancid-cgi/etc/rancid/
	mv debian/rancid-git/usr/share/man/man1/lg_intro.1 \
	   debian/rancid-cgi/usr/share/man/man1/
	mv debian/rancid-git/usr/share/man/man5/lg.conf.5 \
	   debian/rancid-cgi/usr/share/man/man5/
	install -m644 share/index.html debian/rancid-cgi/usr/lib/cgi-bin/lg/


# Build architecture-independent files here.
binary-indep: build-stamp install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i -k CHANGES
	dh_installdocs -i
	dh_installexamples -i
#	dh_installmenu -i
	dh_installdebconf -i
#	dh_installlogrotate -i
#	dh_installemacsen -i
#	dh_installpam -i
#	dh_installmime -i
#	dh_installinit -i
#	dh_installcron -i
#	dh_installinfo -i
#	dh_undocumented -i
	dh_installman -i
	dh_link -i
	dh_compress -i -X.pdf
	dh_fixperms -i
#	dh_perl -i
#	dh_python -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build-stamp install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a -k CHANGES
	dh_installdocs -a
	dh_installexamples -a
#	dh_installmenu -a
	dh_installdebconf -a
#	dh_installlogrotate -a
#	dh_installemacsen -a
#	dh_installpam -a
#	dh_installmime -a
#	dh_installinit -a
#	dh_installcron -a
#	dh_installinfo -a
#	dh_undocumented -a
	dh_installman -a
	dh_strip -a
	dh_link -a
	dh_compress -a -X.pdf
	dh_fixperms -a
#	dh_perl -a
#	dh_python -a
#	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a


binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install patch unpatch \
	clean1
