#!/usr/bin/make -f
#
# (c) 2007-2013  Roland Rosenfeld <roland@debian.org>, based on
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

%:
	dh  $@

override_dh_auto_configure:
	aclocal
	autoconf
	autoheader
	automake --add-missing
	dh_auto_configure -- \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/ \
		--mandir=\$${prefix}usr/share/man \
		--infodir=\$${prefix}usr/share/info \
		--datadir=\$${prefix}var/lib \
		--sysconfdir=\$${prefix}etc/rancid \
		--exec-prefix=\$${prefix}usr/lib/rancid \
		--localstatedir=\$${prefix}var/lib/rancid \
		--with-git

override_dh_auto_install:
	$(MAKE) install prefix=$(CURDIR)/debian/rancid-git/ \
		pkgdata_DATA='' dist_pkgdata_DATA=''

	mv debian/rancid-git/usr/lib/rancid/bin/lg.cgi \
		debian/rancid-cgi/usr/lib/cgi-bin/lg/; \
	mv debian/rancid-git/usr/lib/rancid/bin/lgform.cgi \
		debian/rancid-cgi/usr/lib/cgi-bin/lg/; \
	mv debian/rancid-git/etc/rancid/lg.conf \
		debian/rancid-cgi/etc/rancid/; \
	sed -ri 's|(#\$$LG_CACHE_DIR="\./tmp";)|\1\n\$$LG_CACHE_DIR="/var/cache/rancid-cgi";|' \
		debian/rancid-cgi/etc/rancid/lg.conf; \
	sed -ri 's|(#\$$LG_LOG="local0";)|\1\n\$$LG_LOG="/var/log/rancid/lg.log";|' \
		debian/rancid-cgi/etc/rancid/lg.conf; \
	sed -ri 's|(#\$$LG_CLOGINRC="\$$ENV\(HOME\)/.cloginrc";)|\1\n\$$LG_CLOGINRC="/etc/rancid/cloginrc";|' \
		debian/rancid-cgi/etc/rancid/lg.conf; \
	sed -ri 's|#(\$$LG_ROUTERDB="/etc/rancid/router.db";)|\1|' \
		debian/rancid-cgi/etc/rancid/lg.conf; \
	mv debian/rancid-git/usr/share/man/man1/lg_intro.1 \
		debian/rancid-cgi/usr/share/man/man1/; \
	mv debian/rancid-git/usr/share/man/man5/lg.conf.5 \
		debian/rancid-cgi/usr/share/man/man5/; \
	install -m644 share/index.html \
		debian/rancid-cgi/usr/lib/cgi-bin/lg/; \

override_dh_clean:
	rm -f config.log
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean

override_dh_installchangelogs:
	dh_installchangelogs -k CHANGES

override_dh_compress:
	dh_compress -X.pdf

override_dh_auto_test:
